<list-content header="Initial Margin"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [dataTable]="dataTable"
              [initialLoad]="initialLoad"
              (filterChanged)="filter($event)"
              [drillupRouterLink]="[routerRoots.LIQUI_GROUP_MARGIN_LATEST, routeParams['clearer'] || '*', routeParams['member'] || '*', routeParams['account'] || '*', routeParams['liquidationGroup'] || '*']">
    <data-table [data]="data"
                #dataTable="dataTable"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Member / Client"
                headerAlign="center"
                [sortingKey]="valueGetters.member">
            <ng-template let-record="row" cell-template>
                <a md-button [routerLink]="[rootRoutePath, record.clearer || '*', record.member || '*']">
                    {{record.member}}
                </a>
            </ng-template>
        </column>
        <column title="Account"
                headerAlign="center"
                [sortingKey]="valueGetters.account">
            <ng-template let-record="row" cell-template>
                <a md-button
                   [routerLink]="[rootRoutePath, record.clearer || '*', record.member || '*', record.account || '*']">
                    {{record.account}}
                </a>
            </ng-template>
        </column>
        <column title="Liquidation Group"
                headerAlign="center"
                [sortingKey]="valueGetters.liquidationGroup">
            <ng-template let-record="row" cell-template>
                <a md-button
                   [routerLink]="[rootRoutePath, routeParams['clearer'] || '*', routeParams['member'] || '*', routeParams['account'] || '*', record.liquidationGroup || '*']">
                    {{record.liquidationGroup}}
                </a>
            </ng-template>
        </column>
        <column title="Liquidation Group Split"
                [sortingKey]="valueGetters.liquidationGroupSplit">
            <ng-template let-record="row" cell-template>
                {{record.liquidationGroupSplit}}
            </ng-template>
        </column>
        <column title="Market Risk"
                [sortingKey]="valueGetters.marketRisk"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.marketRisk | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Liqu Risk"
                [sortingKey]="valueGetters.liquRisk"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.liquRisk | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Long Option Credit"
                [sortingKey]="valueGetters.longOptionCredit"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.longOptionCredit | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Initial Margin"
                [sortingKey]="valueGetters.additionalMargin"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.additionalMargin | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column>
            <ng-template let-record="row" cell-template>
                <drilldown-row-button
                        [routerLink]="[routerRoots.POSITION_REPORTS_LATEST, record.clearer || '*', record.member || '*', record.account || '*', '*', record.liquidationGroup || '*', record.liquidationGroupSplit || '*']">
                    ]">
                </drilldown-row-button>
                <detail-row-button
                        [routerLink]="[routerRoots.INITIAL_MARGIN_HISTORY, record.clearer || '*', record.member || '*', record.account || '*', record.liquidationGroup || '*', record.liquidationGroupSplit || '*', record.marginCurrency || '*']"></detail-row-button>
            </ng-template>
        </column>
    </data-table>
</list-content>
