# Non-project files
.DS_Store/
.idea/workspace.xml
.idea/misc.xml
.idea/statistic.xml
npm-debug.log
.tscache

# App files
node_modules/
/package-lock.json
*.css
*.js
*.js.map
!tools/**/*
!gruntfile.js
!restUrl.js
!ie.intl.shim.js
!systemjs.config.js

# Test files
!/browser-providers.conf.js
!/karma.conf.js
!/karma-test-shim.js

# Dist folders
dist/
ngFactories/
reports/
coverage/
*.tgz

# BrowserStack tunel binaries
browserStackBin/
