@import 'node_modules/@angular/material/theming';
@import 'mixins';

@mixin _font($name) {
    @font-face {
        font-family: $name;
        src: url("/fonts/" + $name + ".eot");
        src: url("/fonts/" + $name + ".eot#iefix") format("embedded-opentype"), url("/fonts/" + $name + ".woff") format("woff"), url("/fonts/" + $name + ".ttf") format("truetype"), url("/fonts/" + $name + ".svg#NGT45__W") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

@mixin dbgFontDefinition {
    @include _font(newsGothic_light);
    @include _font(newsGothic_roman);
    @include _font(newsGothic_demi);
    @include _font(newsGothic_bold);
}

$dbg-font-family-light: newsGothic_light, Arial, Verdana, Helvetica, sans-serif;
$dbg-font-family: newsGothic_roman, Arial, Verdana, Helvetica, sans-serif;
$dbg-font-family-bold: newsGothic_demi, Arial, Verdana, Helvetica, sans-serif;
$dbg-font-family-bolder: newsGothic_bold, Arial, Verdana, Helvetica, sans-serif;

$dbg-primary: (
        100: #D7EBFF, //
        200: #B4E1FF, //
        300: #7DCDFF, //
        400: #4B9BFF, //
        500: #000099, //
        600: #000069, //
        700: #000069, //
        contrast: (
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: $white-87-opacity,
                500: $white-87-opacity,
                700: $white-87-opacity
        )
);

$dbg-warn: (
        100: #66CC33, //
        200: #A5B300, //
        300: #FFCC00, //
        500: #FF6600, //
        600: #CC3333, //
        700: #CC3333, //
        contrast: (
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                500: $black-87-opacity,
                600: $white-87-opacity,
                700: $white-87-opacity
        )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dbg-primary-palette: mat-palette($dbg-primary);
$dbg-accent-palette: mat-palette($dbg-primary, 200, 300, 400);

// The warn palette is optional (defaults to red).
$dbg-warn-palette: mat-palette($dbg-warn, 100, 300, 600);

// Create the theme object (a Sass map containing all of the palettes).
$dbg-theme: mat-light-theme($dbg-primary-palette, $dbg-accent-palette, $dbg-warn-palette);