@import 'node_modules/@angular/material/theming';

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin noTransition {
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
}

@mixin hoverTransition {
    transition: opacity .2s cubic-bezier(.35, 0, .25, 1), background-color .2s cubic-bezier(.35, 0, .25, 1) !important;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @include noTransition;
    }
}

@mixin disabeBoxShadow {
    box-shadow: none !important;
    border-top: 1px solid rgba($_ambient-color, 0.05) !important;
    border-right: 2px solid $_ambient-color !important;
    border-bottom: 2px solid $_ambient-color !important;
    border-left: 1px solid rgba($_ambient-color, 0.05) !important;
    border-radius: 3px;
}

$mat-dbg-primary: (
        100: #D7EBFF, //
        200: #B4E1FF, //
        300: #7DCDFF, //
        400: #4B9BFF, //
        500: #000099, //
        600: #000069, //
        700: #000069, //
        contrast: (
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: $white-87-opacity,
                500: $white-87-opacity,
                700: $white-87-opacity
        )
);

$mat-dbg-warn: (
        100: #66CC33, //
        200: #A5B300, //
        300: #FFCC00, //
        500: #FF6600, //
        600: #CC3333, //
        700: #CC3333, //
        contrast: (
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                500: $black-87-opacity,
                600: $white-87-opacity,
                700: $white-87-opacity
        )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dbg-app-primary-palette: mat-palette($mat-dbg-primary);
$dbg-app-accent-palette: mat-palette($mat-dbg-primary, 200, 300, 400);

// The warn palette is optional (defaults to red).
$dbg-app-warn-palette: mat-palette($mat-dbg-warn, 100, 300, 600);

// Create the theme object (a Sass map containing all of the palettes).
$dbg-app-theme: mat-light-theme($dbg-app-primary-palette, $dbg-app-accent-palette, $dbg-app-warn-palette);