@import 'node_modules/@angular/material/theming';
@import 'mixins';

@mixin _font($name, $file, $weight) {
    @font-face {
        font-family: $name;
        src: url("/fonts/" + $file + ".eot");
        src: url("/fonts/" + $file + ".eot#iefix") format("embedded-opentype"), url("/fonts/" + $file + ".woff") format("woff"), url("/fonts/" + $file + ".ttf") format("truetype"), url("/fonts/" + $file + ".svg#NGT45__W") format("svg");
        font-weight: $weight;
    }
}

@mixin dbgFontDefinition {
    @include _font("newsGothic", newsGothic_light, 300);
    @include _font("newsGothic", newsGothic_roman, normal);
    @include _font("newsGothic", newsGothic_demi, 500);
    @include _font("newsGothic", newsGothic_bold, bold);
}

$dbg-font-family: "newsGothic", Arial, Verdana, Helvetica, sans-serif;

$dbg-primary: (
        100: #D7EBFF, //
        200: #B4E1FF, //
        300: #7DCDFF, //
        400: #4B9BFF, //
        500: #000099, //
        600: #000069, //
        700: #000069, //
        contrast: (
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: $white-87-opacity,
                500: $white-87-opacity,
                700: $white-87-opacity
        )
);

$dbg-warn: (
        100: #66CC33, //
        200: #A5B300, //
        300: #FFCC00, //
        500: #FF6600, //
        600: #CC3333, //
        700: #CC3333, //
        contrast: (
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                500: $black-87-opacity,
                600: $white-87-opacity,
                700: $white-87-opacity
        )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dbg-primary-palette: mat-palette($dbg-primary);
$dbg-accent-palette: mat-palette($dbg-primary, 200, 300, 400);

// The warn palette is optional (defaults to red).
$dbg-warn-palette: mat-palette($dbg-warn, 600, 100, 700);

// Create the theme object (a Sass map containing all of the palettes).
$dbg-theme: mat-light-theme($dbg-primary-palette, $dbg-accent-palette, $dbg-warn-palette);