@import "global";

@include dbgFontDefinition;

*:not(.mat-icon) {
    // Force our font for all components, exept icons.
    font-family: $dbg-font-family !important;
}

body {
    font-size: $mat-menu-font-size;
    font-weight: normal;
    text-align: left;
    text-decoration: none; // necessary to reset anchor tags

    background-color: #fff;
    margin: 0;
    height: 100vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: rem(4);
}

h2 {
    font-size: rem(3);

}

h3 {
    font-size: rem(2);
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat-core-theme($dbg-theme);
//@include mat-autocomplete-theme($dbg-app-theme);
@include mat-button-theme($dbg-theme);
@include mat-button-toggle-theme($dbg-theme);
@include mat-card-theme($dbg-theme);
//@include mat-checkbox-theme($dbg-app-theme);
@include mat-chips-theme($dbg-theme);
//@include mat-dialog-theme($dbg-app-theme);
//@include mat-grid-list-theme($dbg-app-theme);
@include mat-icon-theme($dbg-theme);
@include mat-input-theme($dbg-theme);
//@include mat-list-theme($dbg-app-theme);
@include mat-menu-theme($dbg-theme);
//@include mat-progress-bar-theme($dbg-app-theme);
//@include mat-progress-spinner-theme($dbg-app-theme);
//@include mat-radio-theme($dbg-app-theme);
@include mat-select-theme($dbg-theme);
@include mat-sidenav-theme($dbg-theme);
//@include mat-slide-toggle-theme($dbg-app-theme);
//@include mat-slider-theme($dbg-app-theme);
@include mat-tabs-theme($dbg-theme);
@include mat-toolbar-theme($dbg-theme);
@include mat-tooltip-theme($dbg-theme);

.toolbar-spacer {
    flex: 1 1 auto;
}

.mat-card {
    margin-bottom: 10px;

    &.info {
        background-color: map_get($dbg-primary-palette, lighter);
        color: map_get($dbg-primary-palette, lighter-contrast);
    }

    &.good {
        background-color: map_get($dbg-warn-palette, 100);
        color: mat-contrast($dbg-warn-palette, 100);
    }

    &.warn {
        background-color: map_get($dbg-warn-palette, 300);
        color: mat-contrast($dbg-warn-palette, 300);
    }

    &.error {
        background-color: map_get($dbg-warn-palette, 700);
        color: mat-contrast($dbg-warn-palette, 700);
    }
}

// Fixing hover effects
$grey-palette: mat-palette($mat-grey, 1000);
$theme: mat-light-theme($grey-palette, $grey-palette, $grey-palette);

.mat-button, .mat-icon-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
    .mat-button-focus-overlay {
        @include hoverTransition;
    }

    &:hover .mat-button-focus-overlay {
        opacity: 1;
    }

    @include _mat-button-focus-color($theme);
}

.mat-button-toggle {
    .mat-button-toggle-focus-overlay {
        @include hoverTransition;
    }

    &:hover:not(.mat-button-toggle-disabled) .mat-button-toggle-focus-overlay {
        opacity: 1;
    }

    @include _mat-button-toggle-focus-color($theme);
}

.mat-toolbar {
    &.mat-primary .mat-button-focus-overlay {
        background-color: rgba(mat-color($dbg-primary-palette, default-contrast), 0.30);
    }
}

.mat-dialog-container {
    background-color: map_get($mat-grey, 50);
}

//IE 11 Performance fixes
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @for $zValue from 0 through 24 {
        .mat-elevation-z#{$zValue} {
            @include disabeBoxShadow;
        }
    }

    :not([class*=mat-elevation-z]).mat-card,
    .mat-button-toggle-group,
    .mat-menu-panel,
    .mat-select-panel,
    .mat-raised-button,
    .mat-fab,
    .tableWrapper {
        @include disabeBoxShadow;
    }
}

.mat-icon-button, .mat-button {
    &.active, &.menuOpen {
        .mat-button-focus-overlay {
            opacity: 1 !important;
        }
    }
}

.full-width {
    width: 100%;
}
