<list-content header="Account Margin"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [dataTable]="dataTable"
              [initialLoad]="initialLoad"
              (filterChanged)="filter($event)"
              [drillupRouterLink]="[routerRoots.POOL_MARGIN_LATEST, routeParams['clearer'] || '*', '*', routeParams['marginCurrency'] || '*']">
    <data-table [data]="data"
                #dataTable="dataTable"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Member / Client"
                headerAlign="center"
                [sortingKey]="valueGetters.member">
            <ng-template let-record="row" cell-template>
                <a md-button [routerLink]="[rootRoutePath, record.clearer || '*', record.member || '*']">
                    {{record.member}}
                </a>
            </ng-template>
        </column>
        <column title="Account"
                headerAlign="center"
                [sortingKey]="valueGetters.account">
            <ng-template let-record="row" cell-template>
                <a md-button
                   [routerLink]="[rootRoutePath, record.clearer || '*', record.member || '*', record.account || '*']">
                    {{record.account}}
                </a>
            </ng-template>
        </column>
        <column title="Margin currency"
                headerAlign="center"
                [sortingKey]="valueGetters.marginCurrency">
            <ng-template let-record="row" cell-template>
                <a md-button
                   [routerLink]="[rootRoutePath, record.clearer || '*', record.member || '*', record.account || '*', record.marginCurrency || '*']">
                    {{record.marginCurrency}}
                </a>
            </ng-template>
        </column>
        <column title="Collateral Pool"
                [sortingKey]="valueGetters.pool">
            <ng-template let-record="row" cell-template>
                {{record.pool}}
            </ng-template>
        </column>
        <column title="Margin requirement in margin currency"
                [sortingKey]="valueGetters.marginReqInMarginCurr"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.marginReqInMarginCurr | number:'.0-0'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Margin requirement in clearing currency"
                [sortingKey]="valueGetters.marginReqInClrCurr"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.marginReqInClrCurr | number:'.0-0'}} {{record.clearingCurrency}}
            </ng-template>
        </column>
        <column title="Unadjusted Margin"
                [sortingKey]="valueGetters.unadjustedMarginRequirement"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.unadjustedMarginRequirement | number:'.0-0'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Variation Premium Payment"
                [sortingKey]="valueGetters.variationPremiumPayment"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.variationPremiumPayment | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column>
            <ng-template let-record="row" cell-template>
                <drilldown-row-button
                        [routerLink]="[routerRoots.LIQUI_GROUP_MARGIN_LATEST, record.clearer || '*', record.member || '*', record.account]"></drilldown-row-button>
                <detail-row-button
                        [routerLink]="[routerRoots.ACCOUNT_MARGIN_HISTORY, record.clearer || '*', record.member || '*', record.account || '*', record.marginCurrency || '*']"></detail-row-button>
            </ng-template>
        </column>
    </data-table>
</list-content>