<list-content header="Account Margin"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              (filterChanged)="filter($event)">
    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Member / Client"
                [sortingKey]="valueGetters.member">
            <ng-template let-record="row" cell-template>
                <a md-button [routerLink]="[rootRoutePath, record.clearer || '*', record.member || '*']">
                    {{record.member}}
                </a>
            </ng-template>
        </column>
        <column title="Account"
                [sortingKey]="valueGetters.account">
            <ng-template let-record="row" cell-template>
                <a md-button
                   [routerLink]="[rootRoutePath, record.clearer || '*', record.member || '*', record.account || '*']">
                    {{record.account}}
                </a>
            </ng-template>
        </column>
        <column title="Margin currency"
                [sortingKey]="valueGetters.marginCurrency">
            <ng-template let-record="row" cell-template>
                <a md-button
                   [routerLink]="[rootRoutePath, record.clearer || '*', record.member || '*', record.account || '*', record.marginCurrency || '*']">
                    {{record.marginCurrency}}
                </a>
            </ng-template>
        </column>
        <column title="Collateral Pool"
                [sortingKey]="valueGetters.pool">
            <ng-template let-record="row" cell-template>
                {{record.pool}}
            </ng-template>
        </column>
        <column title="Margin requirement in margin currency"
                [sortingKey]="valueGetters.marginReqInMarginCurr"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.marginReqInMarginCurr | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Margin requirement in clearing currency"
                [sortingKey]="valueGetters.marginReqInClrCurr"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.marginReqInClrCurr | number:'.2-2'}} {{record.clearingCurrency}}
            </ng-template>
        </column>
        <column title="Unadjusted Margin"
                [sortingKey]="valueGetters.unadjustedMarginRequirement"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.unadjustedMarginRequirement | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Variation Premium Payment"
                [sortingKey]="valueGetters.variationPremiumPayment"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.variationPremiumPayment | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column>
            <ng-template let-record="row" cell-template>
                <drilldown-row-button
                        [routerLink]="[routerRoots.LIQUI_GROUP_MARGIN_LATEST, record.clearer || '*', record.member || '*', record.account, '*', record.marginCurrency || '*']"></drilldown-row-button>
                <detail-row-button
                        [routerLink]="[routerRoots.ACCOUNT_MARGIN_HISTORY, record.clearer || '*', record.member || '*', record.account || '*', record.marginCurrency || '*']"></detail-row-button>
            </ng-template>
        </column>
    </data-table>
</list-content>