<a md-button
   routerLinkActive="active"
   [routerLink]="routerRoots.DASHBOARD">
    <md-icon *ngIf="orientation === 'column'">whatshot</md-icon>
    Dashboard
</a>

<a md-button
   routerLinkActive="active"
   #menu="mdMenuTrigger"
   [mdMenuTriggerFor]="appMenu"
   [class.menuOpen]="menu.menuOpen"
   (onMenuClose)="menuClosed()">
    <md-icon>trending_up</md-icon>
    Margin Requirement
    <md-menu #appMenu="mdMenu" [overlapTrigger]="false">
        <a md-menu-item
           routerLinkActive="active"
           [routerLink]="routerRoots.POSITION_REPORTS_LATEST"
           [routerSubLink]="routerRoots.POSITION_REPORTS_HISTORY">
            Position Reports
        </a>
        <a md-menu-item
           routerLinkActive="active"
           [routerLink]="routerRoots.VARIATION_PREMIUM_MARGIN_LATEST"
           [routerSubLink]="routerRoots.VARIATION_PREMIUM_MARGIN_HISTORY">
            Variation / Premium Margin
        </a>
        <a md-menu-item
           routerLinkActive="active"
           [routerLink]="routerRoots.INITIAL_MARGIN_LATEST"
           [routerSubLink]="routerRoots.INITIAL_MARGIN_HISTORY">
            Initial Margin
        </a>
        <a md-menu-item
           routerLinkActive="active"
           [routerLink]="routerRoots.LIQUI_GROUP_MARGIN_LATEST"
           [routerSubLink]="routerRoots.LIQUI_GROUP_MARGIN_HISTORY">
            Liquidation Group Margin
        </a>
        <a md-menu-item
           routerLinkActive="active"
           [routerLink]="routerRoots.ACCOUNT_MARGIN_LATEST"
           [routerSubLink]="routerRoots.ACCOUNT_MARGIN_HISTORY">
            Account Margin
        </a>
        <a md-menu-item
           routerLinkActive="active"
           [routerLink]="routerRoots.POOL_MARGIN_LATEST"
           [routerSubLink]="routerRoots.POOL_MARGIN_HISTORY">
            Pool Margin
        </a>
    </md-menu>
</a>

<a md-button
   routerLinkActive="active"
   [routerLink]="routerRoots.RISK_LIMIT_UTILIZATION_LATEST"
   [routerSubLink]="routerRoots.RISK_LIMIT_UTILIZATION_HISTORY">
    <md-icon>flash_on</md-icon>
    Risk Limit Utilization
</a>