<list-content [header]="rootRouteTitle"
              [isHistory]="true"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [dataTable]="dataTable"
              [initialLoad]="initialLoad"
              [drilldownRouterLink]="[routerRoots.POSITION_REPORTS_LATEST, routeParams['clearer'] || '*', routeParams['member'] || '*', routeParams['account'] || '*', routeParams['liquidationGroup'] || '*', routeParams['liquidationGroupSplit'] || '*']">
    <ng-template [ngIf]="chartData?.rows?.length > 0">
        <google-line-chart [chartOptions]="chartOptions"
                           [chartData]="chartData"
                           height="377px"
                           [showControls]="true"></google-line-chart>
    </ng-template>

    <data-table [data]="data"
                #dataTable="dataTable"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Last update"
                [sortingKey]="valueGetters.received">
            <ng-template let-record="row" cell-template>
                {{record.received | date:'HH:mm:ss'}}
            </ng-template>
        </column>
        <column title="Premium Margin"
                [sortingKey]="valueGetters.premiumMargin">
            <ng-template let-record="row" cell-template>
                {{record.premiumMargin | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Variation Premium Payment"
                [sortingKey]="valueGetters.variationPremiumPayment">
            <ng-template let-record="row" cell-template>
                {{record.variationPremiumPayment | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
        </column>
    </data-table>
</list-content>