<ng-template [ngIf]="orientation === 'row'">
    <md-menu #loginMenu="mdMenu"
             [overlapTrigger]="false">
        <button md-menu-item
                (click)="logout()"
                *ngIf="authStatus">
            <md-icon>exit_to_app</md-icon>
            Logout
        </button>
        <button md-menu-item
                [routerLink]="routerRoots.LOGIN"
                *ngIf="!authStatus">
            <md-icon>exit_to_app</md-icon>
            Login
        </button>
    </md-menu>

    <button md-icon-button
            #menu="mdMenuTrigger"
            [mdMenuTriggerFor]="loginMenu"
            [class.menuOpen]="menu.menuOpen">
        <md-icon>person</md-icon>
    </button>
</ng-template>

<ng-template [ngIf]="orientation === 'column'">
    <a md-button
       (click)="logout()"
       *ngIf="authStatus">
        <md-icon>exit_to_app</md-icon>
        Logout
    </a>
    <a md-button
       [routerLink]="routerRoots.LOGIN"
       *ngIf="!authStatus">
        <md-icon>exit_to_app</md-icon>
        Login
    </a>
</ng-template>