<list-content title="Total Margin Requirement"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              (filterChanged)="filter($event)">
    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Collateral Pool"
                [sortingKey]="valueGetters.pool">
            <ng-template let-record="row" cell-template>
                <a [routerLink]="['/totalMarginRequirementLatest', record.clearer || '*', record.pool || '*']">
                    {{record.pool}}
                </a>
            </ng-template>
        </column>
        <column title="Member / Client"
                [sortingKey]="valueGetters.member">
            <ng-template let-record="row" cell-template>
                <a [routerLink]="['/totalMarginRequirementLatest', record.clearer || '*', record.pool || '*', record.member || '*']">
                    {{record.member}}
                </a>
            </ng-template>
        </column>
        <column title="Account"
                [sortingKey]="valueGetters.account">
            <ng-template let-record="row" cell-template>
                <a [routerLink]="['/totalMarginRequirementLatest', record.clearer || '*', record.pool || '*', record.member || '*', record.account || '*']">
                    {{record.account}}
                </a>
            </ng-template>
        </column>
        <column title="Ccy"
                [sortingKey]="valueGetters.ccy">
            <ng-template let-record="row" cell-template>
                {{record.ccy}}
            </ng-template>
        </column>
        <column title="Adjusted Margin"
                tooltip="Margin requirement excluding premium credit"
                [sortingKey]="valueGetters.adjustedMargin">
            <ng-template let-record="row" cell-template>
                {{record.adjustedMargin | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Unadjusted Margin"
                tooltip="Unadjusted margin requirement"
                [sortingKey]="valueGetters.unadjustedMargin">
            <ng-template let-record="row" cell-template>
                {{record.unadjustedMargin | number:'.2-2'}}
            </ng-template>
        </column>
        <column>
            <ng-template let-record="row" cell-template>
                <drilldown-row-button
                        [routerLink]="['/marginComponentLatest', record.clearer || '*', record.member || '*', record.account || '*', '*', record.ccy || '*']"></drilldown-row-button>
                <detail-row-button
                        [routerLink]="['/totalMarginRequirementHistory', record.clearer || '*', record.pool || '*', record.member || '*', record.account || '*', record.ccy || '*']"></detail-row-button>
            </ng-template>
        </column>
    </data-table>
</list-content>