.logo {
    width: 200px;

    img {
        opacity: .87;
    }
}

.mat-toolbar {
    border-radius: 0 !important;
    position: fixed;
    z-index: 100;
}

.content {
    padding: 0 50px 50px;

    @media screen and (max-width: 800px) {
        padding: 0 10px;
    }
}

:host, .mat-sidenav-container {
    height: 100%
}

.mat-sidenav-container {
    padding-top: 64px;

    @media (max-width: 600px) {
        padding-top: 56px;
    }
}

.mat-sidenav.mat-sidenav-opened:not(.mat-sidenav-side), .mat-sidenav.mat-sidenav-opening:not(.mat-sidenav-side) {
    padding-top: 72px;

    @media (max-width: 600px) {
        padding-top: 64px;
    }
}