@import "../global";

.logo {
    width: 162px;
}

.mat-toolbar {
    border-bottom: 5px solid map_get($dbg-primary-palette, default);
    border-radius: 0 !important;
    position: fixed;
    z-index: 100;
}

.content {
    padding: 0 50px 50px;

    @media screen and (max-width: 800px) {
        padding: 0 10px;
    }
}

:host, .mat-sidenav-container {
    height: 100%
}

.mat-sidenav-container {
    padding-top: 69px;

    @media (max-width: 600px) {
        padding-top: 61px;
    }
}

.mat-sidenav.mat-sidenav-opened:not(.mat-sidenav-side), .mat-sidenav.mat-sidenav-opening:not(.mat-sidenav-side) {
    padding-top: 77px;

    @media (max-width: 600px) {
        padding-top: 69px;
    }
}