@import "component";

.logo {
    width: 200px;
}

.mat-toolbar {
    border-radius: 0 !important;
}

.content {
    padding: 0 50px 50px;

    @media screen and (max-width: 800px) {
        padding: 0 10px;
    }
}

:host, .mat-sidenav-container {
    height: 100%
}