<main-layout>

    <!--  menu-horizontal -->
    <app-menu menu-horizontal></app-menu>
    <span class="toolbar-spacer" menu-horizontal></span>
    <error-menu-component menu-horizontal></error-menu-component>
    <login-menu menu-horizontal></login-menu>
    <!--  menu-horizontal -->

    <!--  menu-vertical -->
    <app-menu orientation="column" menu-vertical></app-menu>
    <hr menu-vertical>
    <error-menu-component menu-vertical-icon></error-menu-component>
    <login-menu orientation="column" menu-vertical></login-menu>
    <!--  menu-vertical -->

    <router-outlet></router-outlet>
</main-layout>