<initial-load *ngIf="initialLoad"></initial-load>

<no-data *ngIf="!initialLoad && chartData?.rows?.length < 1"></no-data>

<md-card class="chart" *ngIf="chartData?.rows?.length">
    <google-chart *ngIf="chartShown && chartData?.rows?.length > 0"
                  chartType="TreeMap"
                  [chartOptions]="chartOptions"
                  [chartData]="chartData"
                  height="345px"
                  (selected)="selectHandler($event)"></google-chart>
</md-card>

<a *ngIf="chartData?.rows?.length"
   md-raised-button
   color="accent"
   class="full-width"
   [routerLink]="rootRoutePath">View Details</a>