@import "@dbg-riskit/<selected_layout>/sass/global";

.chart {
    height: 345px;
}

:host /deep/ rect[fill="#000099"] + text {
    fill: white !important;
}

/deep/ .treeMapTooltip {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 7px;
    border-radius: 4px;
    font-size: 12px;
}