@import "../component";

:host data-table /deep/ .panel-body {
    padding: 0;
}

:host data-table /deep/ .panel-body > .table {
    margin: 0;
}

:host data-table /deep/ .panel-footer {
    margin-bottom: 20px;
    background-color: transparent;
    border-top: 0 none;
}