<initial-load *ngIf="initialLoad"></initial-load>

<no-data *ngIf="!initialLoad && data?.length < 1"></no-data>

<ng-template [ngIf]="data?.length > 0">
    <data-table [data]="data"
                [footer]="footer"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey"
                [pageSize]="20">
        <column title="Clearer"
                [sortingKey]="valueGetters.clearer">
            <ng-template let-record="row" cell-template>
                <a md-button
                   [routerLink]="[routerRoots.LIQUI_GROUP_MARGIN_LATEST, record.clearer]">{{record.clearer}}</a>
            </ng-template>
        </column>
        <column title="Member / Client"
                [sortingKey]="valueGetters.member">
            <ng-template let-record="row" cell-template>
                <a md-button [routerLink]="[routerRoots.LIQUI_GROUP_MARGIN_LATEST, record.clearer, record.member]">{{record.member}}</a>
            </ng-template>
        </column>
        <column title="Account"
                [sortingKey]="valueGetters.account">
            <ng-template let-record="row" cell-template>
                <a md-button
                   [routerLink]="[routerRoots.LIQUI_GROUP_MARGIN_LATEST, record.clearer, record.member, record.account]">{{record.account}}</a>
            </ng-template>
        </column>
        <column title="Premium Margin"
                [sortingKey]="valueGetters.premiumMargin"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.premiumMargin | number:'.0-0'}} {{record.marginCurrency}}
            </ng-template>
            <ng-template let-footer="footer" footer-template>
                {{footer.premiumMargin | number:'.0-0'}} {{footer.marginCurrency}}
            </ng-template>
        </column>
        <column title="Current Liquidating Margin"
                [sortingKey]="valueGetters.currentLiquidatingMargin"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.currentLiquidatingMargin | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
            <ng-template let-footer="footer" footer-template>
                {{footer.currentLiquidatingMargin | number:'.2-2'}} {{footer.marginCurrency}}
            </ng-template>
        </column>
        <column title="Initial Margin"
                [sortingKey]="valueGetters.additionalMargin"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.additionalMargin | number:'.0-0'}} {{record.marginCurrency}}
            </ng-template>
            <ng-template let-footer="footer" footer-template>
                {{footer.additionalMargin | number:'.0-0'}} {{footer.marginCurrency}}
            </ng-template>
        </column>
        <column title="Unadjusted Margin"
                [sortingKey]="valueGetters.unadjustedMarginRequirement"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.unadjustedMarginRequirement | number:'.0-0'}} {{record.marginCurrency}}
            </ng-template>
            <ng-template let-footer="footer" footer-template>
                {{footer.unadjustedMarginRequirement | number:'.0-0'}} {{footer.marginCurrency}}
            </ng-template>
        </column>
        <column title="Variation Premium Payment"
                [sortingKey]="valueGetters.variationPremiumPayment"
                headerAlign="right"
                contentAlign="right">
            <ng-template let-record="row" cell-template>
                {{record.variationPremiumPayment | number:'.2-2'}} {{record.marginCurrency}}
            </ng-template>
            <ng-template let-footer="footer" footer-template>
                {{footer.variationPremiumPayment | number:'.2-2'}} {{footer.marginCurrency}}
            </ng-template>
        </column>
        <column>
            <ng-template let-record="row" cell-template>
                <drilldown-row-button
                        [routerLink]="[routerRoots.LIQUI_GROUP_MARGIN_LATEST, record.clearer, record.member, record.account]"></drilldown-row-button>
            </ng-template>
        </column>
    </data-table>
</ng-template>

<a *ngIf="data?.length > 0"
   md-raised-button
   color="accent"
   class="full-width"
   [routerLink]="routerRoots.LIQUI_GROUP_MARGIN_LATEST">
    View Details
</a>