<ng-template #card let-value="value" let-label="label">
    <md-card [class.good]="value >= 0"
             [class.error]="value < 0"
             *ngIf="value != null">
        <div class="huge">{{value | number:'.0-0'}}</div>
        <div>{{label}}</div>
    </md-card>
</ng-template>

<ng-template [ngIf]="pools">
    <div *ngFor="let pool of pools">
        <md-card class="pool">{{pool.pool}}</md-card>
        <ng-template [ngTemplateOutlet]="card"
                     [ngTemplateOutletContext]="{value: pool.shortfallSurplus, label: 'Margin Shortfall/Surplus'}">
        </ng-template>
        <ng-template [ngTemplateOutlet]="card"
                     [ngTemplateOutletContext]="{value: pool.marginRequirement, label: 'Margin Requirement'}">
        </ng-template>
        <ng-template [ngTemplateOutlet]="card"
                     [ngTemplateOutletContext]="{value: pool.cashBalance, label: 'Cash Balance'}">
        </ng-template>
        <md-card class="pool">
            <md-icon>my_location</md-icon>
        </md-card>
    </div>
</ng-template>