@import "@dbg-riskit/DAVe-Common/global";

:host {
    & > div {
        @include clearfix;
    }

    .mat-card {
        margin: 0 5px 10px;
        text-align: right;
        font-size: rem(1.2);

        .huge {
            font-size: rem(2);
            font-weight: bold;
        }
    }
}