<list-content header="Pool Margin"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              (filterChanged)="filter($event)">
    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Collateral Pool"
                headerAlign="center"
                [sortingKey]="valueGetters.pool">
            <ng-template let-record="row" cell-template>
                <a md-button [routerLink]="[rootRoutePath, record.clearer || '*', record.pool || '*']">
                    {{record.pool}}
                </a>
            </ng-template>
        </column>
        <column title="Margin Currency"
                headerAlign="center"
                [sortingKey]="valueGetters.marginCurrency">
            <ng-template let-record="row" cell-template>
                <a md-button
                   [routerLink]="[rootRoutePath, record.clearer || '*', record.pool || '*', record.marginCurrency || '*']">
                    {{record.marginCurrency}}
                </a>
            </ng-template>
        </column>
        <column title="clrRptCurrency"
                [sortingKey]="valueGetters.clrRptCurrency">
            <ng-template let-record="row" cell-template>
                {{record.clrRptCurrency}}
            </ng-template>
        </column>
        <column title="Required Margin"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.requiredMargin">
            <ng-template let-record="row" cell-template>
                {{record.requiredMargin | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Cash Collateral Amount"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.cashCollateralAmount">
            <ng-template let-record="row" cell-template>
                {{record.cashCollateralAmount| number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Adjusted Securities"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.adjustedSecurities">
            <ng-template let-record="row" cell-template>
                {{record.adjustedSecurities | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Adjusted Guarantee"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.adjustedGuarantee">
            <ng-template let-record="row" cell-template>
                {{record.adjustedGuarantee | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="overUnderInMarginCurr"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.overUnderInMarginCurr">
            <ng-template let-record="row" cell-template>
                {{record.overUnderInMarginCurr | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="overUnderInClrRptCurr"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.overUnderInClrRptCurr">
            <ng-template let-record="row" cell-template>
                {{record.overUnderInClrRptCurr | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="variPremInMarginCurr"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.variPremInMarginCurr">
            <ng-template let-record="row" cell-template>
                {{record.variPremInMarginCurr | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Adjusted Exchange Rate"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.adjustedExchangeRate">
            <ng-template let-record="row" cell-template>
                {{record.adjustedExchangeRate | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Pool Owner"
                [sortingKey]="valueGetters.poolOwner">
            <ng-template let-record="row" cell-template>
                {{record.poolOwner}}
            </ng-template>
        </column>
        <column>
            <ng-template let-record="row" cell-template>
                <drilldown-row-button
                        [routerLink]="[routerRoots.ACCOUNT_MARGIN_LATEST, record.clearer || '*', '*', '*', record.marginCurrency || '*']"></drilldown-row-button>
                <detail-row-button
                        [routerLink]="[routerRoots.POOL_MARGIN_HISTORY, record.clearer || '*', record.pool || '*', record.marginCurrency || '*']"></detail-row-button>
            </ng-template>
        </column>
    </data-table>
</list-content>