<ng-template #card let-value="value" let-label="label">
    <md-card [class.good]="value >= 0"
             [class.error]="value < 0"
             *ngIf="value != null">
        <div class="huge">{{value | number:'.2-2'}}</div>
        <div>{{label}}</div>
    </md-card>
</ng-template>

<div *ngIf="data">
    <ng-template [ngTemplateOutlet]="card"
                 [ngTemplateOutletContext]="{value: data.shortfallSurplus, label: 'Margin Shortfall/Surplus'}">
    </ng-template>
    <ng-template [ngTemplateOutlet]="card"
                 [ngTemplateOutletContext]="{value: data.marginRequirement, label: 'Margin Requirement'}">
    </ng-template>
    <ng-template [ngTemplateOutlet]="card"
                 [ngTemplateOutletContext]="{value: data.totalCollateral, label: 'Collateral'}">
    </ng-template>
    <ng-template [ngTemplateOutlet]="card"
                 [ngTemplateOutletContext]="{value: data.cashBalance, label: 'Cash Balance'}">
    </ng-template>
</div>