<list-content header="Pool Margin"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [dataTable]="dataTable"
              [initialLoad]="initialLoad"
              (filterChanged)="filter($event)">
    <data-table [data]="data"
                #dataTable="dataTable"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Collateral Pool"
                headerAlign="center"
                [sortingKey]="valueGetters.pool">
            <ng-template let-record="row" cell-template>
                <a md-button [routerLink]="[rootRoutePath, record.clearer || '*', record.pool || '*']">
                    {{record.pool}}
                </a>
            </ng-template>
        </column>
        <column title="Margin Currency"
                headerAlign="center"
                [sortingKey]="valueGetters.marginCurrency">
            <ng-template let-record="row" cell-template>
                <a md-button
                   [routerLink]="[rootRoutePath, record.clearer || '*', record.pool || '*', record.marginCurrency || '*']">
                    {{record.marginCurrency}}
                </a>
            </ng-template>
        </column>
        <column title="Margin requirement"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.requiredMargin">
            <ng-template let-record="row" cell-template>
                {{record.requiredMargin | number:'.0-0'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Cash Collateral"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.cashCollateralAmount">
            <ng-template let-record="row" cell-template>
                {{record.cashCollateralAmount| number:'.0-0'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Non Cash Collateral"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.adjustedSecurities">
            <ng-template let-record="row" cell-template>
                {{record.adjustedSecurities | number:'.0-0'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Over/Under collaterization in margin ccy."
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.overUnderInMarginCurr">
            <ng-template let-record="row" cell-template>
                {{record.overUnderInMarginCurr | number:'.0-0'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="Over/Under collaterization in clearing ccy."
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.overUnderInClrRptCurr">
            <ng-template let-record="row" cell-template>
                {{record.overUnderInClrRptCurr | number:'.0-0'}} {{record.clrRptCurrency}}
            </ng-template>
        </column>
        <column title="Variation Premium Payment"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.variPremInMarginCurr">
            <ng-template let-record="row" cell-template>
                {{record.variPremInMarginCurr | number:'.3-3'}} {{record.marginCurrency}}
            </ng-template>
        </column>
        <column title="FX Rate"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.adjustedExchangeRate">
            <ng-template let-record="row" cell-template>
                {{record.adjustedExchangeRate | number:'.4-4'}}
            </ng-template>
        </column>
        <column title="Pool Owner"
                [sortingKey]="valueGetters.poolOwner">
            <ng-template let-record="row" cell-template>
                {{record.poolOwner}}
            </ng-template>
        </column>
        <column>
            <ng-template let-record="row" cell-template>
                <drilldown-row-button
                        [routerLink]="[routerRoots.ACCOUNT_MARGIN_LATEST, record.clearer || '*', '*', '*', record.marginCurrency || '*']"></drilldown-row-button>
                <detail-row-button
                        [routerLink]="[routerRoots.POOL_MARGIN_HISTORY, record.clearer || '*', record.pool || '*', record.marginCurrency || '*']"></detail-row-button>
            </ng-template>
        </column>
    </data-table>
</list-content>