<list-content [title]="rootRouteTitle"
              [isHistory]="true"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              [drilldownRouterLink]="['/totalMarginRequirementLatest', routeParams['clearer'] || '*', routeParams['pool'] || '*', '*', '*', routeParams['ccy'] || '*']">
    <div class="panel-body" *ngIf="chartData?.rows?.length > 0">
        <google-line-chart [chartOptions]="chartOptions"
                           [chartData]="chartData"
                           height="377px"
                           [showControls]="true"></google-line-chart>
    </div>

    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Last update"
                [sortingKey]="valueGetters.received">
            <ng-template let-record="row" cell-template>
                {{record.received | date:'HH:mm:ss'}}
            </ng-template>
        </column>
        <column title="Pool Type"
                [sortingKey]="valueGetters.poolType">
            <ng-template let-record="row" cell-template>
                {{record.poolType}}
            </ng-template>
        </column>
        <column title="Shortfall / Surplus"
                [sortingKey]="valueGetters.shortfallSurplus">
            <ng-template let-record="row" cell-template>
                {{record.shortfallSurplus | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Requirement"
                [sortingKey]="valueGetters.marginRequirement">
            <ng-template let-record="row" cell-template>
                {{record.marginRequirement | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Collateral"
                [sortingKey]="valueGetters.securityCollateral">
            <ng-template let-record="row" cell-template>
                {{record.securityCollateral | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Cash Balance"
                [sortingKey]="valueGetters.cashBalance">
            <ng-template let-record="row" cell-template>
                {{record.cashBalance | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Margin Call"
                [sortingKey]="valueGetters.marginCall">
            <ng-template let-record="row" cell-template>
                {{record.marginCall | number:'.2-2'}}
            </ng-template>
        </column>
    </data-table>
</list-content>