<list-content title="Margin Components"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              (filterChanged)="filter($event)">
    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Member / Client"
                [sortingKey]="valueGetters.member">
            <ng-template let-record="row" cell-template>
                <a [routerLink]="['/marginComponentLatest', record.clearer || '*', record.member || '*']">
                    {{record.member}}
                </a>
            </ng-template>
        </column>
        <column title="Account"
                [sortingKey]="valueGetters.account">
            <ng-template let-record="row" cell-template>
                <a [routerLink]="['/marginComponentLatest', record.clearer || '*', record.member || '*', record.account || '*']">
                    {{record.account}}
                </a>
            </ng-template>
        </column>
        <column title="Liq Grp / Margin Class"
                [sortingKey]="valueGetters.class">
            <ng-template let-record="row" cell-template>
                <a [routerLink]="['/marginComponentLatest', routeParams['clearer'] || '*', routeParams['member'] || '*', routeParams['account'] || '*', record.class || '*']">
                    {{record.class}}
                </a>
            </ng-template>
        </column>
        <column title="Ccy"
                [sortingKey]="valueGetters.ccy">
            <ng-template let-record="row" cell-template>
                {{record.ccy}}
            </ng-template>
        </column>
        <column title="Variation Margin"
                [sortingKey]="valueGetters.variationMargin">
            <ng-template let-record="row" cell-template>
                {{record.variationMargin | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Liquidation Margin"
                [sortingKey]="valueGetters.liquiMargin">
            <ng-template let-record="row" cell-template>
                {{record.liquiMargin | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Premium Margin"
                [sortingKey]="valueGetters.premiumMargin">
            <ng-template let-record="row" cell-template>
                {{record.premiumMargin | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Spread Margin"
                [sortingKey]="valueGetters.spreadMargin">
            <ng-template let-record="row" cell-template>
                {{record.spreadMargin | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Total Margin"
                [sortingKey]="valueGetters.additionalMargin">
            <ng-template let-record="row" cell-template>
                {{record.additionalMargin | number:'.2-2'}}
            </ng-template>
        </column>
        <column>
            <ng-template let-record="row" cell-template>
                <drilldown-row-button
                        [routerLink]="['/positionReportLatest', record.clearer || '*', record.member || '*', record.account || '*', record.class || '*']"></drilldown-row-button>
                <detail-row-button
                        [routerLink]="['/marginComponentHistory', record.clearer || '*', record.member || '*', record.account || '*', record.class || '*', record.ccy || '*']"></detail-row-button>
            </ng-template>
        </column>
    </data-table>
</list-content>