<list-content title="Margin Shortfall Surplus"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [data]="data"
              [initialLoad]="initialLoad"
              [errorMessage]="errorMessage"
              (filterChanged)="filter($event)">
    <data-table [data]="data"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Collateral Pool"
                [sortingKey]="valueGetters.pool">
            <ng-template let-record="row" cell-template>
                <a [routerLink]="['/marginShortfallSurplusLatest', record.clearer || '*', record.pool || '*']">
                    {{record.pool}}
                </a>
            </ng-template>
        </column>
        <column title="Pool Type"
                [sortingKey]="valueGetters.poolType">
            <ng-template let-record="row" cell-template>
                <a [routerLink]="['/marginShortfallSurplusLatest', record.clearer || '*', record.pool || '*']">
                    {{record.poolType}}
                </a>
            </ng-template>
        </column>
        <column title="Member / Client"
                [sortingKey]="valueGetters.member">
            <ng-template let-record="row" cell-template>
                <a [routerLink]="['/marginShortfallSurplusLatest', record.clearer || '*', record.pool || '*', record.member || '*']">
                    {{record.member}}
                </a>
            </ng-template>
        </column>
        <column title="Clearing Ccy"
                [sortingKey]="valueGetters.clearingCcy">
            <ng-template let-record="row" cell-template>
                <a [routerLink]="['/marginShortfallSurplusLatest', record.clearer || '*', record.pool || '*', record.member || '*', record.clearingCcy || '*']">
                    {{record.clearingCcy}}
                </a>
            </ng-template>
        </column>
        <column title="Ccy"
                [sortingKey]="valueGetters.ccy">
            <ng-template let-record="row" cell-template>
                {{record.ccy}}
            </ng-template>
        </column>
        <column title="Shortfall / Surplus"
                [sortingKey]="valueGetters.shortfallSurplus">
            <ng-template let-record="row" cell-template>
                {{record.shortfallSurplus | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Margin Requirement"
                [sortingKey]="valueGetters.marginRequirement">
            <ng-template let-record="row" cell-template>
                {{record.marginRequirement | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Collateral"
                [sortingKey]="valueGetters.securityCollateral">
            <ng-template let-record="row" cell-template>
                {{record.securityCollateral | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Cash Balance"
                [sortingKey]="valueGetters.cashBalance">
            <ng-template let-record="row" cell-template>
                {{record.cashBalance | number:'.2-2'}}
            </ng-template>
        </column>
        <column title="Margin Call"
                [sortingKey]="valueGetters.marginCall">
            <ng-template let-record="row" cell-template>
                {{record.marginCall | number:'.2-2'}}
            </ng-template>
        </column>
        <column>
            <ng-template let-record="row" cell-template>
                <drilldown-row-button
                        [routerLink]="['/totalMarginRequirementLatest', record.clearer || '*', record.pool || '*', '*', '*', record.ccy || '*']"></drilldown-row-button>
                <detail-row-button
                        [routerLink]="['/marginShortfallSurplusHistory', record.clearer || '*', record.pool || '*', record.member || '*', record.clearingCcy || '*', record.ccy || '*']"></detail-row-button>
            </ng-template>
        </column>
    </data-table>
</list-content>