<ng-template [ngIf]="data?.length">
    <table [class.striped]="striped">
        <thead *ngIf="headerTemplates" #mainHeader>
        <tr *ngFor="let headerTemplate of headerTemplates; trackBy:trackByIndex">
            <th *ngFor="let column of headerTemplate; trackBy:trackByIndex"
                [attr.rowspan]="column.rowspan"
                [attr.colspan]="column.colspan"
                [style.textAlign]="column.align"
                [mdTooltip]="column.tooltip">
                <ng-template [ngIf]="column.title">{{column.title}}</ng-template>
                <md-icon class="tooltip"
                         *ngIf="column.tooltip">
                    help
                </md-icon>
                <button md-icon-button
                        *ngIf="column.sortingKey"
                        (click)="sortRecords(column.sortingKey)">
                    <md-icon>
                        swap_vert
                    </md-icon>
                </button>
            </th>
        </tr>
        </thead>
        <tbody *ngIf="pageRows && rowsTemplates" #mainBody>
        <ng-template ngFor let-row [ngForOf]="pageRows" let-rowIndex="index" [ngForTrackBy]="trackByRowKey">
            <tr *ngFor="let rowsTemplate of rowsTemplates; trackBy:trackByIndex"
                (click)="row.toogle()"
                #masterRow
                [class.even]="rowIndex % 2 === 1"
                [highlighter]="trackByRowKey"
                [context]="{ row: row.rowData, storage: highlighterStorage, index: rowIndex}">
                <td *ngFor="let column of rowsTemplate; trackBy:trackByIndex"
                    [attr.rowspan]="column.rowspan"
                    [attr.colspan]="column.colspan"
                    [style.textAlign]="column.align">
                    <ng-template *ngIf="column.cellTemplate"
                                 [ngTemplateOutlet]="column.cellTemplate"
                                 [ngTemplateOutletContext]="{ row: row.rowData, expanded: row.expanded }"></ng-template>
                </td>
            </tr>
            <tr *ngIf="detailRowGroups && row.expanded"
                class="detail"
                [class.even]="rowIndex % 2 === 1"
                [highlighter]="trackByRowKey"
                [context]="{ row: row.rowData, storage: highlighterStorage, index: rowIndex}">
                <td [attr.colspan]="detailRowColspan">
                    <table>
                        <ng-template ngFor let-rowGroup [ngForOf]="detailRowGroups" [ngForTrackBy]="trackByIndex">
                            <thead>
                            <tr *ngFor="let headerRow of rowGroup.headerTemplates; trackBy:trackByIndex">
                                <th *ngFor="let column of headerRow; trackBy:trackByIndex"
                                    [attr.rowspan]="column.rowspan"
                                    [attr.colspan]="column.colspan"
                                    [style.textAlign]="column.align"
                                    [mdTooltip]="column.tooltip">
                                    <ng-template [ngIf]="column.title">{{column.title}}</ng-template>
                                    <md-icon class="tooltip"
                                             *ngIf="column.tooltip">
                                        help
                                    </md-icon>
                                    <button md-icon-button
                                            *ngIf="column.sortingKey"
                                            (click)="sortRecords(column.sortingKey)">
                                        <md-icon>
                                            swap_vert
                                        </md-icon>
                                    </button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let bodyRow of rowGroup.rowsTemplates; trackBy:trackByIndex">
                                <td *ngFor="let column of bodyRow; trackBy:trackByIndex"
                                    [attr.rowspan]="column.rowspan"
                                    [attr.colspan]="column.colspan"
                                    [style.textAlign]="column.align">
                                    <ng-template *ngIf="column.cellTemplate"
                                                 [ngTemplateOutlet]="column.cellTemplate"
                                                 [ngTemplateOutletContext]="{ row: row.rowData, expanded: row.expanded }"></ng-template>
                                </td>
                            </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </td>
            </tr>
        </ng-template>
        </tbody>
        <tfoot *ngIf="footerTemplates" #mainFooter>
        <tr *ngFor="let footerTemplate of footerTemplates; trackBy:trackByIndex">
            <th *ngFor="let column of footerTemplate; trackBy:trackByIndex"
                [attr.rowspan]="column.rowspan"
                [attr.colspan]="column.colspan"
                [style.textAlign]="column.align">
                <ng-template *ngIf="column.footerTemplate"
                             [ngTemplateOutlet]="column.footerTemplate"
                             [ngTemplateOutletContext]="{ footer: footer }"></ng-template>
            </th>
        </tr>
        </tfoot>
    </table>
</ng-template>

<ng-template [ngIf]="showFooter && data?.length">
    <paging *ngIf="pageSize && data?.length / pageSize > 1" [pageSize]="pageSize"
            [totalRecords]="data?.length"
            (pageChanged)="updatePage($event)"></paging>

    <span class="pageCount mat-elevation-z2">Showing {{pageRows?.length}} records out of {{data?.length}}</span>
</ng-template>