@import "../../global";

:host {
    width: 100%;

    .hidden {
        display: none;
    }

    .tableWrapper {
        @include mat-elevation(2);

        margin-bottom: 15px;
        overflow: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        font-size: rem(1.4);
    }

    .tooltip {
        font-size: 14px;
        width: 14px;
        height: 14px;
        top: 2px;
        position: relative;
    }

    th, td {
        padding: 8px;
        border: 1px solid map_get($mat-grey, 300);
    }

    thead th {
        background-color: map_get($dbg-primary-palette, default);
        color: map_get($dbg-primary-palette, default-contrast);

        /deep/ .mat-button-focus-overlay {
            background-color: rgba(mat-color($dbg-primary-palette, default-contrast), 0.3);
        }
    }

    tbody > tr {
        &.highlighted td,
        &.highlighted + .detail > td {
            background-color: rgba(map_get($dbg-primary, 200), 0.3) !important;
            color: mat-contrast($dbg-primary, 200) !important;
        }

        &:hover:not(.detail) {
            td {
                background-color: map_get($dbg-primary, 100) !important;
                color: mat-contrast($dbg-primary, 100) !important;
            }

            + .detail > td {
                background-color: map_get($dbg-primary, 100) !important;
                color: mat-contrast($dbg-primary, 100) !important;
            }
        }
    }

    .striped > tbody > tr.even td {
        background-color: map_get($mat-grey, 100);
        color: mat-contrast($mat-grey, 100);
    }

    .detail > td td {
        background-color: map_get($mat-grey, 50);
    }

    tfoot th {
        background-color: map_get($mat-grey, 200);
        color: mat-contrast($mat-grey, 200);
    }

    .pageCount {
        background-color: mat-color(map-get($dbg-theme, background), disabled-button-toggle);
        font-size: 13px;

        display: inline-block;
        padding: 4px;
        margin-bottom: 15px;
    }

    /deep/ {
        .mat-button {
            color: map_get($dbg-primary-palette, default);
            margin: -10px 0;
            line-height: 28px;
            width: 100%;
        }

        .mat-icon-button {
            width: 28px;
            height: 28px;
            line-height: 28px;
            margin: -5px 0;
        }
    }
}