<list-content [header]="rootRouteTitle"
              [isHistory]="true"
              [routeParts]="routeParts"
              [exportKeys]="exportKeys"
              [dataTable]="dataTable"
              [initialLoad]="initialLoad">
    <ng-template [ngIf]="chartData?.rows?.length > 0">
        <google-line-chart [chartOptions]="chartOptions"
                           [chartData]="chartData"
                           height="377px"
                           [showControls]="true"></google-line-chart>
    </ng-template>

    <data-table [data]="data"
                #dataTable="dataTable"
                [pageSize]="pageSize"
                [defaultOrdering]="defaultOrdering"
                [trackByRowKey]="trackByRowKey">
        <column title="Last update"
                [sortingKey]="valueGetters.received">
            <ng-template let-record="row" cell-template>
                {{record.received | date:'HH:mm:ss'}}
            </ng-template>
        </column>
        <column title="Utilization"
                headerAlign="right"
                contentAlign="right"
                [sortingKey]="valueGetters.utilization">
            <ng-template let-record="row" cell-template>
                {{record.utilization | number:'.0-0'}}
            </ng-template>
        </column>
        <column title="Warning Level"
                headerAlign="center">
            <column title="Limit"
                    headerAlign="right"
                    contentAlign="right"
                    [sortingKey]="valueGetters.warningLevel">
                <ng-template let-record="row" cell-template>
                    {{record.warningLevel | number:'.0-0'}}
                </ng-template>
            </column>
            <column title="Utilization"
                    headerAlign="right"
                    contentAlign="right"
                    [sortingKey]="valueGetters.warningUtil">
                <ng-template let-record="row" cell-template>
                    {{record.warningUtil | percent:'.0-0'}}
                </ng-template>
            </column>
        </column>
        <column title="Throttle Level"
                headerAlign="center">
            <column title="Limit"
                    headerAlign="right"
                    contentAlign="right"
                    [sortingKey]="valueGetters.throttleLevel">
                <ng-template let-record="row" cell-template>
                    {{record.throttleLevel | number:'.0-0'}}
                </ng-template>
            </column>
            <column title="Utilization"
                    headerAlign="right"
                    contentAlign="right"
                    [sortingKey]="valueGetters.throttleUtil">
                <ng-template let-record="row" cell-template>
                    {{record.throttleUtil | percent:'.0-0'}}
                </ng-template>
            </column>
        </column>
        <column title="Stop Level"
                headerAlign="center">
            <column title="Limit"
                    headerAlign="right"
                    contentAlign="right"
                    [sortingKey]="valueGetters.rejectLevel">
                <ng-template let-record="row" cell-template>
                    {{record.rejectLevel | number:'.0-0'}}
                </ng-template>
            </column>
            <column title="Utilization"
                    headerAlign="right"
                    contentAlign="right"
                    [sortingKey]="valueGetters.rejectUtil">
                <ng-template let-record="row" cell-template>
                    {{record.rejectUtil | percent:'.0-0'}}
                </ng-template>
            </column>
        </column>
    </data-table>
</list-content>