<template [ngIf]="filteredRouteParts?.length > 0">
    <a *ngIf="!filteredRouteParts[0].inactive"
       [routerLink]="getRoute(0)">
        {{filteredRouteParts[0].title}}
    </a>
    <span *ngIf="filteredRouteParts[0].inactive">
        {{filteredRouteParts[0].title}}
    </span>
</template>
<template [ngIf]="filteredRouteParts?.length > 1">:
    <a [routerLink]="getRoute(1)"
       *ngIf="!filteredRouteParts[1].inactive">
        {{filteredRouteParts[1].title}}
    </a>
    <span *ngIf="filteredRouteParts[1].inactive">
        {{filteredRouteParts[1].title}}
    </span>
</template>
<template [ngIf]="filteredRouteParts?.length > 2">
    <template ngFor let-route [ngForOf]="getAdditionalRoutes()" let-i="index" [ngForTrackBy]="trackByIndex"> /
        <a [routerLink]="getRoute(i + 2)"
           *ngIf="!filteredRouteParts[route].inactive">
            {{filteredRouteParts[route].title}}
        </a>
        <span *ngIf="filteredRouteParts[route].inactive">
            {{filteredRouteParts[route].title}}
        </span>
    </template>
</template>