@import "@dbg-riskit/<selected_layout>/sass/global";

:host {
    .mat-chip {
        outline: 0 none;
        margin: 0 3px !important;

        background-color: map_get($dave-accent-palette, default);
        color: map_get($dave-accent-palette, default-contrast);

        &.mat-chip-selected {
            background-color: map_get($dave-accent-palette, 400);
            color: mat-contrast($dave-accent-palette, 400);
        }
    }
}