<a *ngIf="filteredRouteParts?.length > 0 && !filteredRouteParts[0].inactive"
   [routerLink]="getRoute(0)">
    {{filteredRouteParts[0].title}}
</a>
<ng-template [ngIf]="filteredRouteParts?.length > 0 && filteredRouteParts[0].inactive">
    {{filteredRouteParts[0].title}}
</ng-template>
<span *ngIf="filteredRouteParts?.length > 1">:
    <a [routerLink]="getRoute(1)" *ngIf="!filteredRouteParts[1].inactive">
        {{filteredRouteParts[1].title}}
    </a>
    <ng-template [ngIf]="filteredRouteParts[1].inactive">
        {{filteredRouteParts[1].title}}
    </ng-template>
</span>
<ng-template [ngIf]="filteredRouteParts?.length > 2">
    <span *ngFor="let route of getAdditionalRoutes(); let i=index; trackBy:trackByIndex"> /
        <a [routerLink]="getRoute(i + 2)" *ngIf="!filteredRouteParts[route].inactive">
            {{filteredRouteParts[route].title}}
        </a>
        <ng-template [ngIf]="filteredRouteParts[route].inactive">
            {{filteredRouteParts[route].title}}
        </ng-template>
    </span>
</ng-template>