<div class="row">
    <div class="col-lg-12">
        <h3>Dashboard</h3>
    </div>
    <md-tab-group [(selectedIndex)]="selectedIndex">
        <md-tab>
            <ng-template md-tab-label>
                <md-icon>grid_on</md-icon>
                Margin Requirement Overview
            </ng-template>
            <pool-margin-summary></pool-margin-summary>
            <liqui-group-margin-aggregation></liqui-group-margin-aggregation>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon>bubble_chart</md-icon>
                Position Level Risk
            </ng-template>
            <position-report-bubblechart [chartShown]="selectedIndex === 1"></position-report-bubblechart>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon>dashboard</md-icon>
                Initial Margin
            </ng-template>
            <liqui-group-margin-treemap [chartShown]="selectedIndex === 2"></liqui-group-margin-treemap>
        </md-tab>
    </md-tab-group>
</div>
