<h3>Dashboard</h3>

<nav md-tab-nav-bar>
    <a md-tab-link
       [routerLink]="routerRoots.DASHBOARD_MARGIN_REQUIREMENT_OVERVIEW"
       routerLinkActive #mro="routerLinkActive"
       [active]="mro.isActive">
        <md-icon>grid_on</md-icon>
        Margin Requirement Overview
    </a>
    <a md-tab-link
       [routerLink]="routerRoots.DASHBOARD_POSITION_LEVEL_RISK"
       routerLinkActive #plr="routerLinkActive"
       [active]="plr.isActive">
        <md-icon>bubble_chart</md-icon>
        Position Level Risk
    </a>
    <a md-tab-link
       [routerLink]="routerRoots.DASHBOARD_INITIAL_MARGIN"
       routerLinkActive #il="routerLinkActive"
       [active]="il.isActive">
        <md-icon>dashboard</md-icon>
        Initial Margin
    </a>
</nav>

<div class="mat-tab-body">
    <router-outlet></router-outlet>
</div>
